* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  color: #fff;
  background-color: #1c1c1c;
  font-size: 0.938rem;
}

section {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 0 1.5rem;
}

section .card {
  position: relative;
  width: 100%;
  height: 240px;
  background-color: #171717;
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 444px) {
  section .card {
    width: 312px;
  }
}

@media screen and (min-width: 1024px) {
  section .card {
    zoom: 1.2;
  }
}

section .card .data p:first-child {
  margin-bottom: 0.5rem;
}

section .card .data h1 {
  font-size: 2.75rem;
}

section .card .data h1 + p {
  position: absolute;
  bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
  font-size: 0.813rem;
}

section .card .data h1 + p i {
  font-size: 1rem;
}

section .card .batteryPill {
  position: relative;
  width: 75px;
  height: 180px;
  background-color: #171717;
  -webkit-box-shadow: inset 20px 0 48px #292929, inset -4px 12px 48px #8f8f8f;
          box-shadow: inset 20px 0 48px #292929, inset -4px 12px 48px #8f8f8f;
  border-radius: 3rem;
  justify-self: flex-end;
}

section .card .batteryPill .batteryLevel {
  position: absolute;
  inset: 2px;
  border-radius: 3rem;
  overflow: hidden;
}

section .card .batteryPill .batteryLiquid {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 36px;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #de250d), to(#f97d62));
  background: linear-gradient(90deg, #de250d 15%, #f97d62 100%);
  -webkit-box-shadow: inset -10px 0 12px rgba(0, 0, 0, 0.1), inset 12px 0 12px rgba(0, 0, 0, 0.15);
          box-shadow: inset -10px 0 12px rgba(0, 0, 0, 0.1), inset 12px 0 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section .card .batteryPill .batteryLiquid::after {
  content: " ";
  position: absolute;
  height: 8px;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #de250d), to(#f97d62));
  background: linear-gradient(90deg, #de250d 15%, #f97d62 100%);
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 4px;
  border-radius: 50%;
}

section .green {
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #6ede0d), to(#a9f764));
  background: linear-gradient(90deg, #6ede0d 15%, #a9f764 100%);
}

section .animated-green {
  color: linear-gradient(90deg, #6ede0d 15%, #a9f764 100%);
}

section .animated-red {
  color: linear-gradient(90deg, #de250d 15%, #f97d62 100%);
  -webkit-animation: animated-low-battery 1.2s infinite alternate;
          animation: animated-low-battery 1.2s infinite alternate;
}

section .animated-green,
section .animated-red,
section .green {
  background-clip: text;
  color: transparent;
}

@-webkit-keyframes animated-charging-battery {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 6px #a9f764;
  }
}

@keyframes animated-charging-battery {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 6px #a9f764;
  }
}

@-webkit-keyframes animated-low-battery {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 8px #de250d;
  }
}

@keyframes animated-low-battery {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 8px #de250d;
  }
}

section .gradientRed,
section .gradientRed::after {
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #de250d), to(#f97d62));
  background: linear-gradient(90deg, #de250d 15%, #f97d62 100%);
}

section .gradientOrange,
section .gradientOrange::after {
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #de590d), to(#e3cd02));
  background: linear-gradient(90deg, #de590d 15%, #e3cd02 100%);
}

section .gradientGreen,
section .gradientGreen::after {
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #6ede0d), to(#a9f764));
  background: linear-gradient(90deg, #6ede0d 15%, #a9f764 100%);
}

section .gradientYellow,
section .gradientYellow::after {
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #dec90d), to(#6be302));
  background: linear-gradient(90deg, #dec90d 15%, #6be302 100%);
}
/*# sourceMappingURL=style.css.map */